<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stock Figure</title>
  </head>
  <body>
    <div>
      <form action="/plot" method="post">
        <input type="text" name="ticker" id="ticker" value="AAPL" />
        <input type="date" name="start" id="start" value="2022-01-01" />
        <input type="date" name="end" id="end" value="2022-12-31" />
        <button type="submit">Plot</button>
      </form>
    </div>
  </body>
</html>
